:root{
    --Mcolor: #D9D9D9;
    --Scolor: #421616;
}

*{
    padding: 0;
    margin: 0;
    font: 1em sans-serif;
    color: var(--Mcolor);
}

body{
    background-color: var(--Mcolor);
}

header{
    background-image: linear-gradient(-45deg,var(--Scolor), rgb(10, 10, 10));
    padding: 1em;
    height: 100vh;
    display: flex;
}

.flex{
    display: flex;
    flex-direction: column;
}

img#photo{
    border-radius: 100%;
    border:var(--Mcolor) solid 0.5em;
    margin: 1em;
    width: 40vw;
    height: 80vh;
}

#name{
    font: 3.5em monospace;
    background-color: inherit;
    border: none;
    color: var(--Mcolor);
    text-align: center;
    margin-top: 30%;

}
#name::placeholder{
    color: var(--Mcolor);
    opacity: 1;
}

#resume{
    text-align: justify;
    font: 2em monospace;
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: var(--Mcolor);
    background-color: inherit;
    border: none;
    width: 50vw;
    height: 200px;
    resize: none;
}

#resume::placeholder{
    opacity: 1;
    color: var(--Mcolor);
}


.flex:nth-child(2){
    border-left: var(--Mcolor) solid 1px;
}

#pjcText{
    color: var(--Scolor);
    text-align: center;
    margin: 40%;
    font: 4em monospace;
}

main{
    height: 100vh;
    display: grid;
    margin: 3em;
    gap: 3em;
    grid-template-columns: auto auto auto;
    /*tbm tem como especificar o tamanho de cada grid por aqui*/
    /*grid-template-columns: 30px 20% auto;*/
}

.projects{
    background-color: #421616;
    height: 75vh;
    width: 90%;
    text-align: justify;
    padding: 1em;
}

footer{
    background-image: linear-gradient(-45deg,var(--Scolor), rgb(10, 10, 10));
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font: 2em sans-serif;
}